<p>
  <strong>id:</strong>
  <%= @gymuser.id %>
</p>

<p>
  <strong>gym_no:</strong>
  <%= @gymuser.gym_no %>
</p>

<p>
  <strong>user_no:</strong>
  <%= @gymuser.user_no %>
</p>

<%= link_to 'Back', gymusers_path %>
