<p>
  <strong>id:</strong>
  <%= @expt.id %>
</p>

<p>
  <strong>ex_det_cd:</strong>
  <%= @expt.ex_det_cd %>
</p>

<p>
  <strong>pt_det_cd:</strong>
  <%= @expt.pt_det_cd %>
</p>

<%= link_to 'Back', expts_path %>
