<p>
  <strong>id:</strong>
  <%= @exeq.id %>
</p>

<p>
  <strong>ex_det_cd:</strong>
  <%= @exeq.ex_det_cd %>
</p>

<p>
  <strong>eq_det_cd:</strong>
  <%= @exeq.eq_det_cd %>
</p>

<%= link_to 'Back', exeqs_path %>
