<p>
  <strong>id:</strong>
  <%= @exty.id %>
</p>

<p>
  <strong>ex_det_cd:</strong>
  <%= @exty.ex_det_cd %>
</p>

<p>
  <strong>ty_det_cd:</strong>
  <%= @exty.ty_det_cd %>
</p>

<%= link_to 'Back', extys_path %>
