<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="GymMain.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="Main.js"></script>

		<title>Gym Main</title>
	</head>
	<body>

		<div id="Top" onclick="clickAnything()">
			<!--<div id="Menu">-->
				<div class="Menu">
					<div class="Menu_Detail">
						<p><a>홈</a></p>
					</div>
				</div>
				<div class="Menu">
					<div class="Menu_Detail">
						<p><a>헬스장검색</a></p>
					</div>
				</div>
				<div class="Menu">
					<div class="Menu_Detail">
						<p><a>비만도측정</a></p>
					</div>
				</div>
				<div class="Menu">
					<div class="Menu_Detail">
						<p><a>부위별운동</a></p>
					</div>
				</div>
				<div class="Menu">
					<div class="Menu_Detail">
						<p><a>평점&리뷰</a></p>
					</div>
				</div>
			<!--</div>-->
		</div>

		<div id="MainContents">
			<div id="sign_in_up">
				<div id="sign_in">
					<p><a onclick="clickAnything()">로그인</a></p>
				</div>
				<div id="sign_up">
					<p><a onclick="clickAnything()">회원가입</a></p>
				</div>
			</div>
		</div>
<%= link_to 'add user', controller: 'users' %>
	</body>
</html>
