<p>
  <strong>id:</strong>
  <%= @gymadm.id %>
</p>

<p>
  <strong>gym_no:</strong>
  <%= @gymadm.gym_no %>
</p>

<p>
  <strong>adm_no:</strong>
  <%= @gymadm.adm_no %>
</p>

<%= link_to 'Back', gymadms_path %>

